<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supplement-Shop</title>
    <script
      src="https://kit.fontawesome.com/67939a765b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="styles/contact.css" />
  </head>
  <body id="Contact">
    <header>
      <h2>Supplement<span>Shop</span></h2>
      <div class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="contact.html">Contact us</a></li>
        </ul>
      </div>
    </header>

    <main>
      <div class="upper">
        <div class="box1">
          <i class="fa-solid fa-location-dot"></i>
          <h3>Adress</h3>
          <p>839 Witting Plaza , Sofiya</p>
          <p>5618 Desmond River , London</p>
          <p>309 Fritsch Stream , Nottingham</p>
        </div>

        <div class="box1">
          <i class="fa-solid fa-phone"></i>
          <h3>Phone</h3>
          <p>+359 89 873 8513 - Administrator          </p>
          <p>+359 87 796 1472 - Support
          </p>
          <p>+359 88 716 7456 - Secretary
          </p>
        </div>

        <div class="box1">
          <i class="fa-solid fa-envelope"></i>
          <h3>Email</h3>
          <p>SupplementShop@gmail.com</p>
          <p>qsmith99@hellsmoney.com</p>
          <p>peterjohnsson@gmail.com<p>
        </div>
      </div>

    </div>
    <div class="lower">
      <div class="left">
          <div class="text">
            <div><h2>Message Us</h2></div>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
                placeat ratione ut eum. Ea, quae fugiat maxime sunt nesciunt totam
                quidem minima delectus inventore, ullam explicabo voluptas soluta
                velit itaque deserunt? Quod, numquam distinctio. Quod voluptatum
                ducimus labore nisi velit?
              </p>
            </div>
            
        </div>
        </div>
        <div class="right">
          <form>
            <label for="name">Name</label>
            <input type="text" placeholder="Ivan" />

            <label for="email">Email</label>
            <input type="text" placeholder="random@email.com" />

            <label for="message">Message</label>
            <textarea
              name="user_message"
              id="msg"
              cols="30"
              rows="10"
            ></textarea>

            <input type="submit" value="Submit" />
          </form>
        </div>
        </div>
    </main>

    <footer>
      <div class="social">
        <a href="#"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
      </div>

      <p>Copyright © 2023 - SupplementShop</p>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
