<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supplement-Shop</title>
    <script
      src="https://kit.fontawesome.com/67939a765b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body id="Home">
    <header>
      <h2>Supplement<span>Shop</span></h2>
      <div class="navbar">
        <ul>
          <li ><a  href="index.html">Home</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="contact.html">Contact us</a></li>
        
        </ul>
      </div>
    </header>

    <main>
      <div class="left">
        <h1>
          High quality <br />
          food supplements
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Deserunt ducimus odio
          nostrum earum quidem quae nesciunt mollitia? Dolorum, corporis
          exercitationem?
        </p>
        <a href="products.html"><button class="light">See Our Products</button></a>
      </div>
      <div class="right">
        <img src = "img/protein-main.jpg"></img>
      </div>
    </main>

    <section class="certificates">
      <div class="box">
        <i class="fa-solid fa-truck"></i>
        <p>24H Delivery</p>
      </div>

      <div class="box">
        <i class="fa-solid fa-earth-europe"></i>
        <p>Made in Europe</p>
      </div>

      <div class="box">
        <i class="fa-solid fa-certificate"></i>

        <p>Quality certificates</p>
      </div>
    </section>

    
    
    
    
    
    
    <div class="top-reviews"><h2>Top Reviews</h2></div>
    
    <section class="review">
      <div class="reviews">

      
        <div class="container">
          <div> <img src="img/bodybuilder.avif" </div>
            
          

          <div class="card">
                <div class="opinion">Supplements That Are Worth Taking</div>
                <div class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium alias nam eveniet quas facilis rerum dolores necessitatibus iusto, quidem cupiditate illo ut commodi nesciunt quia! Similique accusantium tenetur amet harum?</div>
              <div class="rating">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>
              <div class="profession">Josh , Professional bodybuilder</div>
          
            </p>
          </div>
        </div>

    
        <div class="container">
          
            <div> <img src="img/julia-rekamie-Z72YujnOrlY-unsplash.jpg" </div> 
        

          <div class="card">
                <div class="opinion">The Best On The Market</div>
                <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quae consequuntur ad magni quasi amet nulla adipisci voluptate dolorem sit quas! Magnam voluptas saepe, et facere perspiciatis ullam dicta explicabo.</div>
              <div class="rating">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>
              <div class="profession">Julia , Fitness Model</div>
          
            </p>
          </div>
        </div>
      


      </div>
    </section>

    <div class="top-reviews"><h2>Frequently Asked Questions</h2></div>

    <div class="faq-container">


      <button class="accordion">Why are you better than others ?</button>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>

      <button class="accordion">What is the return policy ?</button>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      
      <button class="accordion">Is the shipping worldwide ?</button>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      
      <button class="accordion">Are the supplements safe to use ?</button>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      
      
      </div>

      <button class="accordion">Why are you better than others ?</button>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>

      <button class="accordion">What is the return policy ?</button>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      
      <button class="accordion">Is the shipping worldwide ?</button>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      
      <button class="accordion">Are the supplements safe to use ?</button>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      
      
      </div>


      </div>
           
            <div class="more">
              <h5>For More Questions Contact Us !</h5>
              <a href="contact.html"><button>Contact Us</button></a>
            </div>
  


      
       
        <footer>

          <div class="social">

            <a href="#"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
          </div>
        
  
        <p>Copyright © 2023 - SupplementShop</p>
      </footer>

      <script src="main.js"></script>
  </body>
</html>
