<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supplement-Shop</title>
    <script
      src="https://kit.fontawesome.com/67939a765b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="styles/products.css" />
  </head>
  <body>

   
      <header>
        <h2>Supplement<span>Shop</span></h2>
        <div class="navbar">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li>
              <a href="#" class="cart-icon" onclick="toggleCart()">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-count">0</span>
              </a>
            </li>
          </ul>
        </div>

     

      </header>
  
    
  
      <section class="container content-section">
      
        <h2 class="section-header">PROTEIN</h2>
      <div class="shop-items">


        <div class="shop-item">
          <span class="shop-item-title">Protein Powder - Chocolate</span>
          <div class="middle">
            <img src="img/protein.jpg" alt="" class="shop-item-image">
            <a href="protein.html">

              <button class="readBtn" type="button">
                Read More
              </button>
            </a>
          </div>
          <div class="shop-item-details">
            <span class="shop-item-price">$74.99</span>

              <button class="btn btn-primary shop-item-button" type="button">
                ADD TO CART
              </button>
            
          </div>
        </div>


        <div class="shop-item">
          <span class="shop-item-title">Protein Powder - Strawberry</span>
          <div class="middle">
            <img src="img/protein.jpg" alt="" class="shop-item-image">
            <a href="protein.html">

              <button class="readBtn" type="button">
                Read More
              </button>
            </a>
          </div>
          <div class="shop-item-details">
            <span class="shop-item-price">$54.99</span>

              <button class="btn btn-primary shop-item-button" type="button">
                ADD TO CART
              </button>
            
          </div>
        </div>



        <div class="shop-item">
          <span class="shop-item-title">Protein Powder - Vanilla</span>
          <div class="middle">
            <img src="img/protein.jpg" alt="" class="shop-item-image">
            <a href="protein.html">

              <button class="readBtn" type="button">
                Read More
              </button>
            </a>
          </div>
          <div class="shop-item-details">
            <span class="shop-item-price">$49.99</span>

              <button class="btn btn-primary shop-item-button" type="button">
                ADD TO CART
              </button>
            
          </div>
        </div>



        <div class="shop-item">
          <span class="shop-item-title">Protein Powder - Salted Caramel</span>
          <div class="middle">
            <img src="img/protein.jpg" alt="" class="shop-item-image">
            <a href="protein.html">

              <button class="readBtn" type="button">
                Read More
              </button>
            </a>
          </div>
          <div class="shop-item-details">
            <span class="shop-item-price">$69.99</span>

              <button class="btn btn-primary shop-item-button" type="button">
                ADD TO CART
              </button>
            
          </div>
        </div>



        <div class="shop-item">
          <span class="shop-item-title">Protein Powder - Chocolate mint</span>
          <div class="middle">
            <img src="img/protein.jpg" alt="" class="shop-item-image">
            <a href="protein.html">

              <button class="readBtn" type="button">
                Read More
              </button>
            </a>
          </div>
          <div class="shop-item-details">
            <span class="shop-item-price">$59.99</span>

              <button class="btn btn-primary shop-item-button" type="button">
                ADD TO CART
              </button>
            
          </div>
        </div>


        
        </div>


      </div>
    </section>



    <section class="container content-section">
      
      <h2 class="section-header">BCAA</h2>
    <div class="shop-items">


      <div class="shop-item">
        <span class="shop-item-title">BCAA - A</span>
        <div class="middle">
          <img src="img/BCAA.jpg" alt="" class="shop-item-image">
          <a href="bcaa.html">

            <button class="readBtn" type="button">
              Read More
            </button>
          </a>
        </div>
        <div class="shop-item-details">
          <span class="shop-item-price">$34.99</span>

            <button class="btn btn-primary shop-item-button" type="button">
              ADD TO CART
            </button>
          
        </div>
      </div>


      <div class="shop-item">
        <span class="shop-item-title">BCAA - B</span>
        <div class="middle">
          <img src="img/BCAA.jpg" alt="" class="shop-item-image">
          <a href="bcaa.html">

            <button class="readBtn" type="button">
              Read More
            </button>
          </a>
        </div>
        <div class="shop-item-details">
          <span class="shop-item-price">$49.99</span>

            <button class="btn btn-primary shop-item-button" type="button">
              ADD TO CART
            </button>
          
        </div>
      </div>




      <div class="shop-item">
        <span class="shop-item-title">BCAA - C</span>
        <div class="middle">
          <img src="img/BCAA.jpg" alt="" class="shop-item-image">
          <a href="bcaa.html">

            <button class="readBtn" type="button">
              Read More
            </button>
          </a>
        </div>
        <div class="shop-item-details">
          <span class="shop-item-price">$44.99</span>

            <button class="btn btn-primary shop-item-button" type="button">
              ADD TO CART
            </button>
          
        </div>
      </div>




      <div class="shop-item">
        <span class="shop-item-title">BCAA - D</span>
        <div class="middle">
          <img src="img/BCAA.jpg" alt="" class="shop-item-image">
          <a href="bcaa.html">

            <button class="readBtn" type="button">
              Read More
            </button>
          </a>
        </div>
        <div class="shop-item-details">
          <span class="shop-item-price">$39.99</span>

            <button class="btn btn-primary shop-item-button" type="button">
              ADD TO CART
            </button>
          
        </div>
      </div>


      <div class="shop-item">
        <span class="shop-item-title">BCAA - E</span>
        <div class="middle">
          <img src="img/BCAA.jpg" alt="" class="shop-item-image">
          <a href="bcaa.html">

            <button class="readBtn" type="button">
              Read More
            </button>
          </a>
        </div>
        <div class="shop-item-details">
          <span class="shop-item-price">$29.99</span>

            <button class="btn btn-primary shop-item-button" type="button">
              ADD TO CART
            </button>
          
        </div>
      </div>




      
      </div>


    </div>
  </section>




  <section class="container content-section last ">
      
    <h2 class="section-header">CREATINE</h2>
  <div class="shop-items">


    <div class="shop-item">
      <span class="shop-item-title">Creatine Monohydrate - A</span>
      <div class="middle">
        <img src="img/CREATING.jpg" alt="" class="shop-item-image">
        <a href="creatine.html">

          <button class="readBtn" type="button">
            Read More
          </button>
        </a>
      </div>
      <div class="shop-item-details">
        <span class="shop-item-price">$39.99</span>

          <button class="btn btn-primary shop-item-button" type="button">
            ADD TO CART
          </button>
        
      </div>
    </div>

    <div class="shop-item">
      <span class="shop-item-title">Creatine Monohydrate - B</span>
      <div class="middle">
        <img src="img/CREATING.jpg" alt="" class="shop-item-image">
        <a href="creatine.html">

          <button class="readBtn" type="button">
            Read More
          </button>
        </a>
      </div>
      <div class="shop-item-details">
        <span class="shop-item-price">$29.99</span>

          <button class="btn btn-primary shop-item-button" type="button">
            ADD TO CART
          </button>
        
      </div>
    </div>


    <div class="shop-item">
      <span class="shop-item-title">Creatine Monohydrate - C</span>
      <div class="middle">
        <img src="img/CREATING.jpg" alt="" class="shop-item-image">
        <a href="creatine.html">

          <button class="readBtn" type="button">
            Read More
          </button>
        </a>
      </div>
      <div class="shop-item-details">
        <span class="shop-item-price">$34.99</span>

          <button class="btn btn-primary shop-item-button" type="button">
            ADD TO CART
          </button>
        
      </div>
    </div>



    <div class="shop-item">
      <span class="shop-item-title">Creatine Monohydrate - D</span>
      <div class="middle">
        <img src="img/CREATING.jpg" alt="" class="shop-item-image">
        <a href="creatine.html">

          <button class="readBtn" type="button">
            Read More
          </button>
        </a>
      </div>
      <div class="shop-item-details">
        <span class="shop-item-price">$44.99</span>

          <button class="btn btn-primary shop-item-button" type="button">
            ADD TO CART
          </button>
        
      </div>
    </div>




    <div class="shop-item">
      <span class="shop-item-title">Creatine Monohydrate - E</span>
      <div class="middle">
        <img src="img/CREATING.jpg" alt="" class="shop-item-image">
        <a href="creatine.html">

          <button class="readBtn" type="button">
            Read More
          </button>
        </a>
      </div>
      <div class="shop-item-details">
        <span class="shop-item-price">$39.99</span>

          <button class="btn btn-primary shop-item-button" type="button">
            ADD TO CART
          </button>
        
      </div>
    </div>

    </div>


   
</section>

      <section  class="cart-container">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
    </section>
  
      <footer>
        <div class="social">
          <a href="#"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
        </div>

  
  
        <p>Copyright © 2023 - SupplementShop</p>
      </footer>

      
  
      <script src="script.js">
   

      </script>
    </body>

   

</html>
