<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supplement-Shop</title>
    <script
      src="https://kit.fontawesome.com/67939a765b.js"
      crossorigin="anonymous"

    ></script>
    <link rel="stylesheet" href="styles/supps.css" />




  </head>
  <body id="Contact">
    <header>
      <h2>Supplement<span>Shop</span></h2>
      <div class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="contact.html">Contact us</a></li>
        
        </ul>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="left"><img src="img/protein.jpg" alt="" /></div>

        <div class="right">
          <div class="product">Protein Powder</div>
          <div class="qu">2500g</div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, iure
            impedit mollitia voluptate neque aliquam reprehenderit sequi amet
            quidem illo.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
            tempora esse debitis cupiditate excepturi, reprehenderit mollitia
            consequuntur, facere quo corporis deserunt, pariatur quae molestiae
            illo repellat omnis id possimus soluta!
          </p>
          <a href="products.html"><button class="add-to-cart">Back To Shop</button></a>
        </div>
      </div>

      <h2>Top Benefits</h2>
      <div class="container1">
        <div class="left1">
          <p class="benefit"><span>&#x2713</span> Lorem ipsum dolor sit amet.</p>
          <p class="benefit"><span>&#x2713</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, qui facere?</p>
          <p class="benefit"><span>&#x2713</span> Lorem ipsum dolor sit amet.</p>
          <p class="benefit"><span>&#x2713</span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum?</p>
          <p class="benefit"><span>&#x2713</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi?</p>
          <p class="benefit"><span>&#x2713</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, et?
          </p>
          <p class="benefit"><span>&#x2713</span> Lorem ipsum dolor sit.</p>
          <p class="benefit"><span>&#x2713</span> Lorem ipsum dolor sit amet consectetur.</p>
        </div>

        <div class="right1">
          <img src="img/bic.jpg" style="width: 100%;" alt="">
        </div>
      </div>

<h2 class="rev">Reviews</h2>
      <div class="reviews">
        <div class="card">
          <div class="row1">
            <img src="img/random1.avif" alt="">
            <div class="dateRating">
              <p class="date">12/11/2022</p>
              <div class="rating">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur quod eaque aliquid ipsam deserunt, et similique dolor, labore expedita ex explicabo quas necessitatibus quaerat optio minus voluptatum ad atque!
          </div>
        </div>


        <div class="card">
          <div class="row1">
            <img src="img/random2.avif" alt="">
            <div class="dateRating">
              <p class="date">15/10/2023</p>
              <div class="rating">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur quod eaque aliquid ipsam deserunt, et similique dolor, labore expedita ex explicabo quas necessitatibus quaerat optio minus voluptatum ad atque!
          </div>
        </div>



        <div class="card">
          <div class="row1">
            <img src="img/random 3.avif" alt="">
            <div class="dateRating">
              <p class="date">10/1/2023</p>
              <div class="rating">
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur quod eaque aliquid ipsam deserunt, et similique dolor, labore expedita ex explicabo quas necessitatibus quaerat optio minus voluptatum ad atque!
          </div>
        </div>
      </div>

    </main>

    <footer>
      <div class="social">
        <a href="#"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
      </div>

      <p>Copyright © 2023 - SupplementShop</p>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
